# Виртуальное окружение
venv/
env/
.venv/

# База данных
instance/
*.db

# Кэши Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/
*.code-workspace

# Логи и временные файлы
*.log
.DS_Store
Thumbs.db

# Секреты (на всякий случай)
.env
